[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "dep/gli"]
	path = dep/gli
	url = https://github.com/g-truc/gli.git
[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm.git
[submodule "dep/fmt"]
	path = dep/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "dep/gsl"]
	path = dep/gsl
	url = https://github.com/microsoft/GSL.git
